@import url(https://fonts.googleapis.com/css?family=roboto);

body{
    background: maroon;
    font-size: 22px;
    line-height:32px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin:0;
    padding:0;
    word-wrap:break-word !important;
    font-family: "roboto", sans-serif;
}

a{
    color:#fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p{

}

