@import url(https://fonts.googleapis.com/css?family=roboto);

/* As for the color scheme, I used color-hex.com and used darkening  shades of colors
for the dropdown menus in the mobile view so that you can keep track of which tier the 
color represents. For desktop view, I used one distinct one distinct color for dropdowns 
as the structure of the tiers suggests where you are, making recoloring redundant.
I alsu used a tint for the hover state of the elements, 
as well as an analagous color for the background color of the main body */

/* #background{
    background: url("./images/cleo.jpg") center center fixed;
    position: fixed;
    top:100px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    z-index: 1; 
} */

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 240;
    background-color: #000000;
}

body{
    background: #4c4c4c;
    font-size: 22px;
    line-height:32px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin:0;
    padding:0;
    word-wrap:break-word !important;
    font-family: "roboto", sans-serif;
}

header{
    max-width: 1240px;

}

a{
    color:#fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* li:hover {
    background-color: black;
} */


/* Hides checkboxes that control menu either showing or not depending on mobile/desktop view */
.toggle, [id^=drop] {
    display:none;
}


#logo{
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

/* Controls the 3 line menu icon toggle functionality */
#main-toggle{
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

/* Creates the 3 line "hamburger" menu icon itself */
.nav-icon{
    background: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}

/* Middle Bar of the menu icon */
.nav-icon:before, .nav-icon:after{
    background: white;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Top Bar of the menu icon */
.nav-icon:before{
    top: 5px;
}
/* Bottom Bar of the menu icon */
.nav-icon:after{
    top: -5px;
}

/* ____________ul/li elements of the Menu_________ */

.nav:after{
    content:"";
    display:table;
    clear:both;
}

/* all unordered lists within the nav tag */
nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* all list items within all unordered lists within the nav tag */

nav ul li{
    margin: 0;
    float: left;
    background-color:#9baeff;
}

/* Allows one to click on the entire button 
    area not just the text within it */
nav a{
    display: block;
    padding: 0 20px;
    color:white;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

/* Covers all second tier menu items for their hover state */
/* EDITTED: now covers all tiers and changes their colors */
nav ul li ul li:hover,
nav ul li:hover{
    background-color: #b9c6ff;
}

/* Hides elements of the nav list */
/* Top: 60px; displays the nested item 60 pixels below it's parent element */
/* Position: absolute; allows us to position the children relative to the parent */
nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
}

/* All elements WITHIN a dropdown menu */
nav ul ul li{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

/* All 3rd tier list items */
/* Positions the children of a second tier menu item
 to the right and down of the parent */
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 170px;
}

/* Tricky one!!! Come here to review later! */

/* This is the rule that really makes the dropdowns work */

/* A third tier ul that is a child of a hovered upon li 
    in the second tier will inherit its display state */
nav ul li:hover>ul{
    display: inherit;
}

/* Any li with a child a element will get a '>' after it */
li>a:after{
    content: " >";
}

/*  Any ONLY child a element will NOT get the '>' after it */
li>a:only-child:after{
    content: " ";
}

/* ___________END DESKTOP VIEW RULES_____________*/

/* BEGIN MOBILE VIEW OVERRIDE RULES */
/* These rules apply up to 768px and then get switched off */
@media all and (max-width: 768px){


    nav{
        margin: 0;
    }

    nav ul{
        float: none;
    }

    .toggle+a, .menu{
        display: none;
    }

    /* Decorates the .toggle elements */
    .toggle{
        display: block;
        background-color: #9baeff;
        padding: 0 20px;
        color: white;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    /* This rule makes it so that in mobile view, hovering
     over ANY option will 'highlight' it the designated color */
    .toggle:hover,
    nav ul li:hover,
    nav ul li ul li a:hover{
        background-color:#b9c6ff;
    }

    /* This rule makes the unordered lists all appear when you click the mobile menu icon */
    /* Targets any id that begins with the word 'drop' */
    /* All main list items have drop or drop-1 or drop-2 etc... */
    [id^=drop]:checked+ul{
        display:block;
    }

    nav ul li{
        display: block;
        width:100%;
    }

    nav ul ul .toggle, 
    nav ul ul a{
        padding: 0 40px;
    }

    nav ul ul ul a{
        padding: 0 80px;
        background-color: #7b8bcc;
    }

    nav ul li ul li .toggle,
    nav ul ul a{
        background-color: #8b9ce5;
    }

    nav ul ul{
        float: none;
        position: static;
        color: white;
    }

    /* All nested menu items are hidden by default */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul{
        display: none;
    }

    nav ul ul li{
        display: block;
        width: 100%;
    }

    /* Properly positions nested elements below their parent element */
    nav ul ul ul li{
        position: static;
    }


}